* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

h1 {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 15px;
  /* margin-left: auto; */
}


.buttons {
  /* width: 100%; */
  margin-top: 20px;
  margin-right: 70px;
  align-self: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  color: black;
  background-color: #f1f1f1;
}

#sim {
  margin-right: 10px;
}

#sim:hover {
  background-color: green;
  color: white;
}

#nao {
  position: absolute;
}
